<div class="container">
  <h2 class="container__h1">Login</h2>
  <form [formGroup]="loginForm" autocomplete="off" class="container__form">
    <div>
      <input
        type="email"
        class="form__input"
        formControlName="email"
        placeholder="E-mail"
      />
      <div
        *ngIf="
          loginForm.get('email')?.invalid &&
          (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)
        "
      >
        <div
          class="form__error_message"
          *ngIf="loginForm.get('email')?.errors?.['required']"
        >
          Email is required.
        </div>
        <!-- <div class="form__error_message" *ngIf="loginForm.get('email')?.errors?.['minlength']">Email must be at least 3 characters long.</div>
        <div class="form__error_message" *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format.</div> -->
      </div>
    </div>

    <div>
      <input
        type="password"
        class="form__input"
        formControlName="password"
        placeholder="Password"
      />
      <div
        *ngIf="
          loginForm.get('password')?.invalid &&
          (loginForm.get('password')?.dirty ||
            loginForm.get('password')?.touched)
        "
      >
        <div
          class="form__error_message"
          *ngIf="loginForm.get('password')?.errors?.['required']"
        >
          Password is required.
        </div>
        <!-- <div class="form__error_message" *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 8 characters long.</div>
        <div class="form__error_message" *ngIf="loginForm.get('password')?.errors?.['pattern']">Password must contain at least one uppercase letter, one lowercase letter, one digit, and one special character.</div> -->
      </div>
    </div>

    <button
      type="submit"
      class="form__btn"
      [disabled]="loginForm.invalid"
      (click)="onSubmit()"
    >
      <span class="btn__span">Submit</span>
    </button>
  </form>
  <a href="/register" class="container__link">do you have an account?</a>
</div>
