.container {
  margin: 17.5vh auto;
  height: 65vh;
  width: 37vw;
  line-height: 3rem;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--red);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: all 0.4s ease-in-out;
}

.container:hover {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.container__h1 {
  font-weight: bold;
  color: var(--white);
  padding: 5px;
  letter-spacing: 0.8px;
  font-size: clamp(1.5rem, 2.4vw, 2.8rem);
  margin-bottom: 1.5rem;
}

.container__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form__input {
  font-size: clamp(0.9rem, 1.35vw, 2.5rem);
  border: 1px solid var(--whiteSmoke);
  outline: none;
  background-color: var(--transparent);
  color: var(--whiteSmoke);
  border-radius: 1rem;
  padding: 5px;
}

.form__input:focus {
  background-color: var(--black);
  color: var(--whiteSmoke);
  border: 1px solid var(--white);
}

.form__error_message {
  height: 2vh;
  display: flex;
  align-items: center;
  color: var(--whiteSmoke);
  font-weight: lighter;
  font-size: 0.85rem;
  margin: 1vh auto;
}

.form__btn {
  display: block;
  margin: 7px auto;
  border: 1px solid var(--whiteSmoke);
  border-radius: 1rem;
  padding: 5px;
  background-color: transparent;
  color: var(--whiteSmoke);
  width: 100%;
  position: relative;
  cursor: pointer;
}

.btn__span {
  font-size: clamp(0.9rem, 1.35vw, 2.5rem);
  position: relative;
  z-index: 1;
}
.form__btn::after {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  background-color: var(--black);
  border-radius: 1rem;
  transition: all 0.35s;
}

.form__btn:hover::after {
  left: 0;
  width: 100%;
}

.container__link,
.container__link:visited,
.container__link:active {
  color: white;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
    font-size: min(1rem, 2.8vw)
}

.container__link:hover {
  font-size: 1.1rem;
}

::placeholder {
  color: var(--whiteSmoke);
}

@media (width <= 1024px) {
  .container {
    width: 45vw;
  }
}

@media (width <= 768px) {
  .container {
    width: 55vw;
  }
}
