.container {
  margin: 10vh auto;
  width: 70vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--red);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: all 0.4s ease-in-out;
}

.container:hover {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.container__left_container {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  background-color: var(--black);
}

.left_container__logo {
  max-width: 100%;
  height: auto;
  padding: 10px;
}

.left_container__h1,
.right_container__h2 {
  font-weight: bold;
  color: var(--white);
  padding: 5px;
  letter-spacing: 0.7px;
}

.left_container__h1 {
  font-size: 2.05rem;
}

.right_container__h2 {
  font-size: clamp(1.5rem, 1.6vw, 2.2rem);
}

.container__right_container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 3rem;
  padding: 5px;
  background-color: var(--red);
}

.right_container__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form__input {
  font-size: 1.3rem;
  border: 1px solid var(--whiteSmoke);
  outline: none;
  background-color: var(--transparent);
  color: var(--whiteSmoke);
  border-radius: 1rem;
  padding: 5px;
}

.form__input:focus {
  background-color: var(--black);
  color: var(--whiteSmoke);
  border: 1px solid var(--white);
}

.form__error_message {
  height: 2vh;
  display: flex;
  align-items: center;
  color: var(--whiteSmoke);
  font-weight: lighter;
  font-size: 0.85rem;
  margin: 1vh auto;
}

.form__btn {
  display: block;
  margin: 7px auto;
  border: 1px solid var(--whiteSmoke);
  border-radius: 1rem;
  padding: 5px;
  background-color: transparent;
  color: var(--whiteSmoke);
  width: 100%;
  position: relative;
  cursor: pointer;
}

.btn__span {
  font-size: 1.2rem;

  position: relative;
  z-index: 1;
}
.form__btn::after {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  background-color: var(--black);
  border-radius: 1rem;
  transition: all 0.35s;
}

.form__btn:hover::after {
  left: 0;
  width: 100%;
}

::placeholder {
  color: var(--whiteSmoke);
}

@media (width <= 1024px) {
  .left_container__h1 {
    font-size: 1.8rem;
  }

  .form__input,
  .container__input-btn {
    font-size: 1.1rem;
  }

  .form__error_message {
    height: 1vh;
    font-size: 0.8rem;
  }
}

@media (width <= 768px) {
  .container {
    height: 70vh;
    margin: 15vh auto;
  }
  .container__left_container {
    display: none;
    width: 0%;
    height: 0%;
  }
  .container__right_container {
    width: 100vh;
    height: auto;
  }
  .form__input,
  .form__btn {
    font-size: 1.2rem;
  }
  .form__error_message {
    font-size: 0.7rem;
  }
}
