<app-navbar></app-navbar>
<app-notification></app-notification>
<div class="container">
  <div class="container__left_container">
    <img class="left_container__logo" src="../../../../assets/images/logoColor256px.png" alt="logo" />
    <h1 class="left_container__h1">CompanyNews</h1>
  </div>
  <div class="container__right_container">
    <h2 class="right_container__h2">Register</h2>
    <form [formGroup]="registerForm"  autocomplete="off" class="right_container__form">
      <div>
        <input
          type="text"
          class="form__input"
          formControlName="firstName"
          placeholder="First Name"
        />
        <div
          *ngIf="
            registerForm.get('firstName')?.invalid &&
            (registerForm.get('firstName')?.dirty ||
              registerForm.get('firstName')?.touched)
          "
        >
          <div
            class="form__error_message"
            *ngIf="registerForm.get('firstName')?.errors?.['required']"
          >
            First Name is required.
          </div>
          <!-- <div class="form__error_message" *ngIf="registerForm.get('firstName')?.errors?.['minlength']">First Name must be at least 3 characters long.</div> -->
        </div>
      </div>

      <div>
        <input
          type="text"
          class="form__input"
          formControlName="lastName"
          placeholder="Last Name"
        />
        <div
          *ngIf="
            registerForm.get('lastName')?.invalid &&
            (registerForm.get('lastName')?.dirty ||
              registerForm.get('lastName')?.touched)
          "
        >
          <div
            class="form__error_message"
            *ngIf="registerForm.get('lastName')?.errors?.['required']"
          >
            Last Name is required.
          </div>
          <!-- <div *ngIf="registerForm.get('lastName')?.errors?.['minlength']">Last Name must be at least 2 characters long.</div> -->
        </div>
      </div>

      <div>
        <input
          type="email"
          class="form__input"
          formControlName="email"
          placeholder="E-mail"
        />
        <div
          *ngIf="
            registerForm.get('email')?.invalid &&
            (registerForm.get('email')?.dirty ||
              registerForm.get('email')?.touched)
          "
        >
          <div
            class="form__error_message"
            *ngIf="registerForm.get('email')?.errors?.['required']"
          >
            Email is required.
          </div>
          <!-- <div class="form__error_message" *ngIf="registerForm.get('email')?.errors?.['minlength']">Email must be at least 3 characters long.</div>
        <div class="form__error_message" *ngIf="registerForm.get('email')?.errors?.['email']">Invalid email format.</div> -->
        </div>
      </div>

      <div>
        <input
          type="password"
          class="form__input"
          formControlName="password"
          placeholder="Password"
        />
        <div
          *ngIf="
            registerForm.get('password')?.invalid &&
            (registerForm.get('password')?.dirty ||
              registerForm.get('password')?.touched)
          "
        >
          <div
            class="form__error_message"
            *ngIf="registerForm.get('password')?.errors?.['required']"
          >
            Password is required.
          </div>
          <!-- <div class="form__error_message" *ngIf="registerForm.get('password')?.errors?.['minlength']">Password must be at least 8 characters long.</div>
        <div class="form__error_message" *ngIf="registerForm.get('password')?.errors?.['pattern']">Password must contain at least one uppercase letter, one lowercase letter, one digit, and one special character.</div> -->
        </div>
      </div>

      <button
        type="submit"
        class="form__btn"
        [disabled]="registerForm.invalid"
        (click)="onSubmit()"
      >
      <span class="btn__span">Submit</span>

      </button>
    </form>
  </div>
</div>
<app-footer></app-footer>
