<button (click)="addNewUser()"> Add new User</button>

<table>
    <thead>
        <th>id</th>
        <th>firstName</th>
        <th>lastName</th>
        <th>email</th>
        <th>password</th>
        <th>actions</th>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.password}}</td>
            <td>
              <button (click)="editUser(user)"> edit</button>
            </td>
        </tr>
    </tbody>
</table>

<app-edit-user-form [user]="userToEdit" (updatedUser)="updatedUsersList()"></app-edit-user-form>
