.navbar {
  background-color: var(--black);
  color: var(--white);
  padding: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 2;
}

.navbar__title {
  margin: 0px;
  transition: all 0.5s ease-in-out;
}

.navbar__title:hover {
  color: var(--lightRed);
}

.navbar__links {
  display: none;
}

.navbar__dots {
  width: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem;
  background-color: var(--grey);
  border-radius: 20px;
}

.navbar__dots:hover {
  opacity: 50%;
}

.navbar__dot {
  border-radius: 50%;
  background-color: var(--lightRed);
  height: 0.6rem;
  width: 0.6rem;
  display: inline-block;
  margin-right: 0.3rem;
}

.hamburger_menu {
  height: 91vh;
  width: 100vw;
  margin-top: 9vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--lightRed);
  transition: all 1s;
  z-index: 2;
  animation:  visiblity 0.5s;
}

.hamburger__link {
  margin: 4rem;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
}
.hamburger__link:hover {
  color: var(--black);
  letter-spacing: 0.5rem;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--white);
}

@media only screen and (min-width: 768px) {
  .navbar__links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
  }
  .navbar__link {
    padding: 5px 10px;
    font-size: 1.25rem;
    transition: all 0.3s ease-in-out;
  }
  .navbar__link:hover {
    color: var(--lightRed);
    transform: translatey(-0.5rem);
  }
  .navbar__dots,
  .hamburger_menu {
    display: none;
  }
}

@keyframes visiblity {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
