.menu {
  background-color: var(--black);
  color: var(--white);
}

.container {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.container__links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 85%;
}
.container__links__link {
  padding: 5px 10px;
  font-size: 1.25rem;
  color: var(--white);
}

h1 {
  margin: 0px;
}

a {
  text-decoration: none;
}
