<nav class="navbar">
  <h1 class="navbar__title">CompanyNews</h1>
  <div class="navbar__links">
    <a href="" class="navbar__link">1</a>
    <a href="" class="navbar__link">2</a>
    <a href="" class="navbar__link">3</a>
    <a href="" class="navbar__link">4</a>
  </div>
  <div class="navbar__dots" (click)="onClick()">
    <div class="navbar__dot"></div>
    <div class="navbar__dot"></div>
    <div class="navbar__dot"></div>
  </div>
</nav>
<nav   [@fadeInOut]="showHamburger ? 'in' : 'out'"class="hamburger_menu">
  <a href="" class="hamburger__link">1dsadass</a>
  <a href="" class="hamburger__link">2</a>
  <a href="" class="hamburger__link">3</a>
  <a href="" class="hamburger__link">4</a>
</nav>
