<div *ngIf="currentNotifications && currentNotifications.length > 0">
  <div
    #notification
    class="notification"
    [style.background-color]="mainNotification.color"
  >
    <div class="notification__message">
      {{ mainNotification.message }}
    </div>
    <div class="notification__actions">
      <div class="actions__counter">
        {{ counter }}/{{ currentNotifications.length }}
      </div>
      <img
        src="../../../../assets/icons/left-arrow.png"
        alt="left"
        class="actions__img"
        (click)="changeNotification(-1)"
      />
      <img
        src="../../../../assets/icons/right-arrow.png"
        alt="right"
        class="actions__img"
        (click)="changeNotification(1)"
      />
      <img
        src="../../../../assets/icons/ok.png"
        alt="right"
        class="actions__img"
        (click)="deleteCurrentNotification()"
      />
      <img
        src="../../../../assets/icons/close.png"
        alt="close"
        class="actions__img"
        (click)="deleteNotifications()"
      />
    </div>
  </div>
  {{ currentNotifications }}
</div>
