.container {
  margin-top: 8vh;
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
}

.container__side_panel-left,
.container__side_panel-right {
  width: 150px;
  height: 250px;
  background-color: var(--black);
  z-index: 1;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  border: 1px solid var(--white);
  transition: all 1s ease-in-out;
  filter: grayscale(0.7)
}

.container__side_panel-right-enter {
  transition-delay: 0.1s !important;
  margin-left: 2% !important;
}

.container__side_panel-left-enter {
  transition-delay: 0.1s !important;
  margin-right: 2% !important;
}

.container__side_panel-left {
  margin-right: -8%;
  order: 1;
}

.container__side_panel-right {
  margin-left: -8%;
  order: 3;
}

.return_margin {
  transition: all linear 1s;
  margin-right: 0;
  margin-left: 0;
}

.container__container {
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__center_panel {
  width: 200px;
  height: 300px;
  background-color: var(--black);
  z-index: 2;
  box-shadow: rgba(255, 255, 255, 0.616) 0px 7px 29px 0px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  border: 2px solid var(--white);
  transition: all 1s ease-in-out;
  order: 2;
}

.panel__image {
  width: 100%;
  height: 50%;
  top: 0;
  position: absolute;
  border-radius: 20px 20px 0 0;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  transition: all 1s ease-in-out;
}

.image-blur {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  filter: blur(1px);
  transition: all 1s ease-in-out;
}

.panel__text {
  height: 30%;
  width: 90%;
  color: var(--white);
  text-align: justify;
  top: 53%;
  position: absolute;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 400;
}

.panel__footer {
  height: 11%;
  width: 90%;
  top: 86%;
  position: absolute;
}

.footer__author {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.author__image_block {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: aqua;
}

.author__image {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  object-fit: cover;
}

.author__name {
  color: var(--white);
  font-size: 0.9rem;
  font-style: italic;
  margin-left: 3%;
  width: 50%;
  margin-right: 3%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.author__post_date {
  color: var(--white);
  font-weight: lighter;
  font-size: 0.9rem;
  width: 30%;
  text-align: right;
  margin-left: auto;
}

@media only screen and (min-width: 768px) {
  .container__side_panel-left,
  .container__side_panel-right {
    width: 270px;
    height: 350px;
  }
  .container__center_panel {
    width: 300px;
    height: 400px;
  }
}
