<!-- <app-notification></app-notification> -->
<app-navbar></app-navbar>
<div class="container">
  <div class="container__container">
    <div class="container__side_panel-left">
      <div class="panel__image">
        <img
          class="image"
          src="../../../assets/images/homeCards/mainImages/butterfly.jpg"
          alt="photo"
        />
        <div class="panel__title"></div>
      </div>
      <div class="panel__text">
        The standard chunk of Lorem Ipsum used since the 1500s is reproduced
        below for those interested. Sections 1.10.32 and 1.10.33 from "de
        Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact
        original form, accompanied by English versions from the 1914 translation
        by H. Rackham.
      </div>
      <div class="panel__footer">
        <div class="footer__author">
          <div class="author__image_block">
            <img
              class="author__image"
              src="../../../assets/images/homeCards/authors/cr7.jpg"
              alt=""
            />
          </div>
          <div class="author__name">Cristiano Ronaldo</div>
          <div class="author__post_date">25.11.2023</div>
        </div>
      </div>
    </div>
    <div class="container__center_panel">
      <div class="panel__image">
        <img
          class="image"
          src="../../../assets/images/homeCards/mainImages/family.jpg"
          alt="photo"
        />
        <div class="panel__title"></div>
      </div>
      <div class="panel__text">
        The standard chunk of Lorem Ipsum used since the 1500s is reproduced
        below for those interested. Sections 1.10.32 and 1.10.33 from "de
        Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact
        original form, accompanied by English versions from the 1914 translation
        by H. Rackham.
      </div>
      <div class="panel__footer">
        <div class="footer__author">
          <div class="author__image_block">
            <img
              class="author__image"
              src="../../../assets/images/homeCards/authors/cr7.jpg"
              alt=""
            />
          </div>
          <div class="author__name">Cristiano Ronaldo</div>
          <div class="author__post_date">25.11.2023</div>
        </div>
      </div>
    </div>
    <div class="container__side_panel-right">
      <div class="panel__image">
        <img
          class="image"
          src="../../../assets/images/homeCards/mainImages/christmas.jpg"
          alt="photo"
        />
        <div class="panel__title"></div>
      </div>
      <div class="panel__text">
        The standard chunk of Lorem Ipsum used since the 1500s is reproduced
        below for those interested. Sections 1.10.32 and 1.10.33 from "de
        Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact
        original form, accompanied by English versions from the 1914 translation
        by H. Rackham.
      </div>
      <div class="panel__footer">
        <div class="footer__author">
          <div class="author__image_block">
            <img
              class="author__image"
              src="../../../assets/images/homeCards/authors/cr7.jpg"
              alt=""
            />
          </div>
          <div class="author__name">Cristiano Ronaldo</div>
          <div class="author__post_date">25.11.2023</div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer [footerBackgroundColor]="footerBackgroundColorInput"></app-footer>
