<footer>
  <div class="footer__decoration-red"></div>
  <div class="footer__decoration-black"></div>
  <div class="footer__container">
    <p class="footer__container__sentence">
      check <span class="footer__container__sentence__span">us</span>
    </p>
    <div class="footer__container__icons">
      <img
        class="icon"
        src="../../../../../assets/icons/icons8-facebook-48.png"
        alt="icon"
      />
      <img
        class="icon"
        src="../../../../../assets/icons/icons8-instagram-48.png"
        alt="icon"
      />
      <img
        class="icon"
        src="../../../../../assets/icons/icons8-youtube-48.png"
        alt="icon"
      />
      <img
        class="icon"
        src="../../../../../assets/icons/icons8-twitter-48.png"
        alt="icon"
      />
    </div>
    <p class="footer__container__sentence-italic">All Rights Reserved © 2023</p>
  </div>
</footer>
