<footer [style.background-color]="footerBackgroundColor" [style.border-color]="footerBackgroundColor">
  <div class="footer__decoration-red"></div>
  <div class="footer__decoration-black"></div>
  <div class="footer__container">
    <p class="container__text">
      check <span class="text__span">us</span>
    </p>
    <div class="container__icons">
      <img
        class="icons__icon"
        src="../../../../../assets/icons/icons8-facebook-48.png"
        alt="icon"
      />
      <img
        class="icons__icon"
        src="../../../../../assets/icons/icons8-instagram-48.png"
        alt="icon"
      />
      <img
        class="icons__icon"
        src="../../../../../assets/icons/icons8-youtube-48.png"
        alt="icon"
      />
      <img
        class="icons__icon"
        src="../../../../../assets/icons/icons8-twitter-48.png"
        alt="icon"
      />
    </div>
    <p class="container__text-italic">All Rights Reserved © 2023</p>
  </div>
</footer>
