<app-navbar></app-navbar>
<div class="container">
  <h1 class="container__h1">{{ purposeName }}</h1>
  <form [formGroup]="newPasswordForm" class="container__form">
    <input
      class="form__input"
      [ngClass]="{ 'form__input-disabled': isEmailInToken }"
      type="text"
      formControlName="email"
      placeholder="email"
    />
    <div
      *ngIf="
        newPasswordForm.get('email')?.invalid &&
        newPasswordForm.get('email')?.touched
      "
    >
      <div
        class="form__error_message"
        *ngIf="newPasswordForm.get('email')?.errors?.['required']"
      >
        email is required.
      </div>
    </div>
    <input
      class="form__input"
      type="password"
      formControlName="password"
      placeholder="password"
    />
    <div
      *ngIf="
        newPasswordForm.get('password')?.invalid &&
        newPasswordForm.get('password')?.touched
      "
    >
      <div
        class="form__error_message"
        *ngIf="newPasswordForm.get('password')?.errors?.['required']"
      >
        password is required.
      </div>
    </div>
    <input
      class="form__input"
      type="password"
      formControlName="repeatPassword"
      placeholder="repeat password"
    />
    <div
      *ngIf="
        newPasswordForm.get('repeatPassword')?.invalid &&
        newPasswordForm.get('repeatPassword')?.touched
      "
    >
      <div
        class="form__error_message"
        *ngIf="newPasswordForm.get('repeatPassword')?.errors?.['required']"
      >
        repeat password is required.
      </div>
      <div
        class="form__error_message"
        *ngIf="newPasswordForm.get('repeatPassword')?.errors?.['equalToValidator']"
      >
        passwords are different
      </div>
    </div>
    <button
      class="form__btn"
      type="submit"
      [disabled]="newPasswordForm.invalid"
      (click)="sendModel()"
    >
      <span class="btn__span"> Send </span>
    </button>
  </form>
</div>

<app-footer></app-footer>
