.container {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container__h1 {
  font-size: 1.9rem;
  font-weight: bold;
  margin: 0 auto;
  padding: 1rem;
  color: var(--black);
  text-align: center;
}

.container__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form__input {
  font-size: 1.3rem;
  border: none;
  outline: none;
  background-color: var(--lightRed);
  color: var(--whiteSmoke);
  border-radius: 1rem;
  padding: 5px;
  margin: 0.5rem auto;
  width: 100%;
}
.form__input-disabled{
  display: none;
}

.form__input:focus {
  background-color: var(--black);
  color: var(--whiteSmoke);
  border: 1px solid var(--white);
}

.form__error_message{
  height: 3vh;
  display: flex;
  align-items: center;
  color: var(--red);
  font-size: 0.9rem;
}

.form__btn {
  display: block;
  margin: 1.5vh auto;
  border: 1px solid var(--black);
  border-radius: 1rem;
  padding: 5px;
  background-color: transparent;
  color: var(--black);
  width: 100%;
  position: relative;
  cursor: pointer;
}

.btn__span {
  font-size: 1.2rem;
  position: relative;
  z-index: 1;
}
.form__btn::after {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  background-color: var(--grey);
  border-radius: 1rem;
  transition: all 0.35s;
}

.form__btn:hover::after {
  left: 0;
  width: 100%;
}

::placeholder {
  color: var(--whiteSmoke);
}
